---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Cta from "@components/cta.astro";
import { Picture } from "@astrojs/image/components";
import Link from "@components/ui/link.astro";

// Generate a new path for every collection entry
export async function getStaticPaths() {
  const blogEntries = await getCollection("blog");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

// Get the entry directly from the prop on render
const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title={entry.data.title} image={entry.data.image.src} imageAlt={entry.data.image.alt} description={entry.data.snippet}>
  <Container>
    <div class="mx-auto max-w-5xl mt-14">
      <span class="text-blue-400 uppercase tracking-wider text-sm font-medium">
        {entry.data?.categories?.join(', ')}
      </span>
      <h1
        class="text-4xl lg:text-5xl font-bold lg:tracking-tight mt-1 lg:leading-tight">
        {entry.data.title}
      </h1>
      <div class="flex gap-2 mt-3 items-center flex-wrap md:flex-nowrap">
        <span class="text-gray-400">
          {entry.data.author}
        </span>
        <span class="text-gray-400">•</span>
        <time
          class="text-gray-400"
          datetime={entry.data.publishDate.toISOString()}>
          {entry.data.publishDate.toDateString()}
        </time>
        <span class="text-gray-400 hidden md:block">•</span>
        <div class="w-full md:w-auto flex flex-wrap gap-3">
          {
            entry.data.tags.map((tag) => (
              <span class="text-sm text-gray-500">#{tag}</span>
            ))
          }
        </div>
      </div>
      <p class="mt-3 text-secondary">
        {entry.data.snippet}
      </p>
    </div>

    <div class="mx-auto max-w-5xl prose prose-lg mt-6">
      <Picture
        src={entry.data.image.src}
        alt={entry.data.image.alt}
        sizes="(max-width: 800px) 100vw, 800px"
        widths={[200, 400, 800]}
        aspectRatio="4:1"
        background="#ffffff"
        fit="cover"
        position="center"
        class="w-full rounded-md"
      />
      <Content />
    </div>
    <div class="text-center mt-8">
      <Link href="/blog" style="muted">
        ← Regresar al blog
      </Link>
    </div>
    <Cta maxw="5"/>
  </Container>
</Layout>
