---
import Link from "@components/ui/link.astro";
import Dropdown from "./dropdown.astro";
import BurgerIcon from "../ui/icons/burger.astro";
import FullLogo from "../ui/icons/full-logo.astro";
import TimesIcon from "../ui/icons/times.astro";
import Darkmode from "./darkmode.astro";

const menuitems = [
  {
    title: "Features",
    path: "#",
    options: [
      { title: "Action", path: "#" },
      { title: "Another action", path: "#" },
      { title: "Dropdown Submenu", path: "#" },
    ],
    hidden: true,
  },
  {
    title: "Servicios",
    path: "/services",
    hidden: true,
  },
  {
    title: "Blog",
    path: "/blog",
  },
  {
    title: "Nosotros",
    path: "/about",
  },
  {
    title: "Portafolio",
    path: "/portfolio",
    disabled: true,
  },
    {
      title: "Precios",
      path: "/pricing",
    },
  {
    title: "Contacto",
    path: "/contact",
  },
];
---

<header x-data="{open: false}" class="max-w-screen-sm lg:max-w-screen-xl w-full mx-auto p-5 relative flex flex-col lg:flex-row gap-x-16 gap-y-5">
  <div class="flex items-center justify-between gap-5 min-w-[180px]">
    <a href="/" class="text-lg">
      <FullLogo class="h-10" />
    </a>
    <button class="relative w-4 h-4 text-gray-800 cursor-pointer lg:hidden" @click="open = !open">
      <BurgerIcon class="absolute inset-0 w-full transition-opacity" :class="{'opacity-0': open}" />
      <TimesIcon class="absolute inset-0 w-full transition-opacity opacity-0" :class="{'opacity-100': open}" />
    </button>
  </div>
  <Darkmode class="hidden" />
  <nav
    class="max-h-0 overflow-hidden lg:overflow-visible transition-[max-height] w-full justify-end"
    x-ref="content"
    :style="{maxHeight: open ? `${$refs.content.scrollHeight}px` : undefined}"
  >
    <ul class="flex flex-col lg:flex-row lg:gap-3">
      {menuitems.filter(({hidden}) => !hidden).map((item, index) => (
        item.options ? (
          <Dropdown
            title={item.title}
            options={item.options}
            lastItem={index === menuitems.length - 1}
          />
        ) : (
          <li>
            <a
              href={item.disabled ? '#' : item.path}
              class="flex p-2 text-gray-600 hover:text-gray-900 hover:bg-gray-200 lg:hover:bg-gray-100 rounded"
            >
              {item.title}
            </a>
          </li>
        )
      ))}
      <li class="hidden lg:flex pl-20">
        <Link href="#" size="md" class="flex p-2" style="muted">Log in</Link>
      </li>
      <li class="hidden lg:flex">
        <Link href="#" size="md" class="flex p-2">Sign up</Link>
      </li>
    </ul>
    <div class="lg:hidden flex items-center mt-3 gap-4">
      <Link href="#" style="muted" block size="md">Log in</Link>
      <Link href="#" size="md" block>Sign up</Link>
    </div>
  </nav>
</header>
