---
import Bar from "@components/ui/icons/bar.astro";
import Darkmode from "./darkmode.astro";
import Dropdown from "./dropdown.astro";
import Link from "@components/ui/link.astro";
import Logo from "../ui/icons/logo.astro";
import Menu from "@components/ui/icons/menu.astro";

const menuitems = [
  {
    title: "Features",
    path: "#",
    options: [
      { title: "Action", path: "#" },
      { title: "Another action", path: "#" },
      { title: "Dropdown Submenu", path: "#" },
    ],
    hidden: true,
  },
  {
    title: "Servicios",
    path: "/services",
    hidden: true,
  },
  {
    title: "Blog",
    path: "/blog",
  },
  {
    title: "Nosotros",
    path: "/about",
  },
  {
    title: "Portafolio",
    path: "/portfolio",
    disabled: true,
  },
    {
      title: "Precios",
      path: "/pricing",
    },
  {
    title: "Contacto",
    path: "/contact",
  },
];
---

<header x-data="{open: false}" class="max-w-screen-sm lg:max-w-screen-xl w-full mx-auto p-5 relative flex flex-wrap gap-x-3 items-center justify-between">
  <a href="/" class="grow lg:grow-0 flex gap-1">
    <Logo bar class="h-10" />
    <Bar class="h-10" />
    <span class="text-4xl font-sans">Codefy</span>
  </a>
  <Menu open="open" class="w-4 aspect-square text-gray-800 cursor-pointer lg:hidden" @click="open = !open"/>
  <Darkmode class="hidden lg:order-last" />
  <nav
    class="w-full lg:w-fit max-h-0 lg:max-h-fit overflow-hidden transition-[max-height]"
    x-ref="content"
    :style="{maxHeight: open ? `${$refs.content.scrollHeight}px` : undefined}"
  >
    <ul class="flex flex-col lg:flex-row lg:gap-3 lg:items-center mt-5 lg:mt-0">
      {menuitems.filter(({hidden}) => !hidden).map((item, index) => (
        item.options ? (
          <Dropdown
            title={item.title}
            options={item.options}
            lastItem={index === menuitems.length - 1}
          />
        ) : (
          <li>
            <a
              href={item.disabled ? '#' : item.path}
              class="flex p-2 text-gray-600 hover:text-gray-900 hover:bg-gray-200 lg:hover:bg-gray-100 rounded"
            >
              {item.title}
            </a>
          </li>
        )
      ))}
      <li class="grid grid-cols-2 gap-3 lg:ml-10">
        <Link href="#" size="md" class="p-2 text-center" style="muted">Log in</Link>
        <Link href="#" size="md" class="p-2 text-center">Sign up</Link>
      </li>
    </ul>
  </nav>
</header>
