---
import { Tick } from "@components/ui/icons";
import Link from "@components/ui/link.astro";
import { orders, price_types as types } from "@utils/consts";
import { ClassList } from "@utils/types";

export type PlanType = 'hourly' | 'monthly' | 'annual' | 'custom';

export interface Plan {
  name: string;
  type: PlanType;
  price: {
    current?: number;
    previous?: number;
  };
  currency: string;
  features: string[];
  popular: boolean;
  draft: boolean;
  publishDate: Date;
  expirationDate?: Date;
  button: {
    text: string;
    link: string;
  };
  order?: number;
}

interface Props {
  class?: ClassList;
  plan: Plan;
}

const { class: className, plan } = Astro.props;
---

<div class:list={["w-80", orders.get(plan?.order), className]}>
  <div class="flex flex-col w-full order-first lg:order-none border-2 border-[#D8DEE9] border-opacity-50 py-5 px-6 rounded-md">
    <div class="text-center">
      <h4 class="text-lg font-medium text-gray-400">{plan.name}</h4>
      <h2 class:list={["mt-3 text-4xl font-bold text-black md:text-4xl", {capitalize: plan.type === "custom"}]}>
        {plan.price.current && `${plan.currency}${plan.price.current}/`}{types[plan.type]}
      </h2>
      {plan.price.current && plan.price.previous && (
        <h4 class="flex flex-col line-through text-lg font-medium text-gray-400 md:text-2xl">
          {plan.currency}{plan.price.previous}
        </h4>
        <h5 class="flex flex-col text-sm font-medium text-gray-400">
          {(100*(plan.price.previous - plan.price.current)/plan.price.previous).toFixed(0)}% de descuento
        </h5>
      )}
    </div>
    <ul class="grid mt-8 text-left gap-y-4">
      {plan.features.map((item) => (
        <li class="grid grid-cols-[auto_1fr] gap-2 items-start text-gray-800">
          <Tick class="w-6 h-6" />
          <span>{item}</span>
        </li>
      ))}
    </ul>
    <div class="flex mt-8">
      <Link
        href={plan.button.link || "#"}
        block
        style={plan.popular ? "primary" : "outline"}>
        {plan.button.text || "Get Started"}
      </Link>
    </div>
  </div>
</div>
